/* Initial Kevin Powell Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/*****************************/
/****** Project Below ********/
/*****************************/

/* 
Left Sidebar: #F4F4F4 (light gray)
Main Panel: #ffffff
Text: #222222 (charcoal)
Accents: #3A86FF (electric blue)
Hover: #FFB347 (soft orange)

Fonts
- "Quicksand"
- "OpenSans"
*/

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-SemiBold.woff") format("woff"),
    url("./fonts/Quicksand-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSansCondensed-Regular.woff") format("woff"),
    url("./fonts/OpenSansCondensed-Regular.woff2") format("woff2");
}

#main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

h2 {
  font-family: "Quicksand";
}

/********************
****** Modals ******* 
*********************/

/* 
Left Sidebar: #F4F4F4 (light gray)
Main Panel: #ffffff
Text: #222222 (charcoal)
Accents: #3A86FF (electric blue)
Hover: #FFB347 (soft orange)

Fonts
- "Quicksand"
- "OpenSans"
*/

dialog {
  display: none;
}

dialog:open {
  left: 37.5%;
  top: 12.5%;
  height: 67.5%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #222222;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input,
textarea {
  padding-left: 0.2rem;
}

input:focus,
textarea:focus {
  outline-color: #3a86ff;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  margin-top: 0.4rem;
}

.modal-btn-container > button {
  background-color: #3a86ff;
  border-radius: 0.2rem;
  flex-basis: 50%;
}

#new-project-form {
  height: 35%;
  top: 20%;
}

/*****************************
******** Left Pane **********
******************************/

/* 
Left Sidebar: #F4F4F4 (light gray)
Main Panel: #ffffff
Text: #222222 (charcoal)
Accents: #3A86FF (electric blue)
Hover: #FFB347 (soft orange)

Fonts
- "Quicksand"
- "OpenSans"
*/
.main-left {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: start;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.main-left .section-container {
  font-size: 1.2rem;
  font-family: "OpenSans";
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.main-left .filter-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-left .project-div {
  display: flex;
  justify-content: space-between;
}

.main-left .section-header {
  display: flex;
  gap: 1rem;
  color: #2a2a2a;
  font-size: 1.5rem;
  font-family: "Quicksand";
  margin-bottom: 1rem;
}

.section-header,
.section-header-button,
.todo-section-btn,
.project-section-btn {
  color: #2a2a2a;
}

.section-header-button,
.todo-section-btn,
.project-section-btn {
  background-color: transparent;
  border: none;
}

button:hover {
  background-color: #ffb347; /* #32cd32 (Lime Green) - #ffb347 (orange)*/
}

.section-header-button {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 50%;
  background-color: #3a86ff;
}

.todo-section-btn,
.project-section-btn {
  border-radius: 0.2rem;
  padding: 0.3rem;
}

/*****************************
******** Right Pane **********
******************************/

/* 
Left Sidebar: #F4F4F4 (light gray)
Main Panel: #ffffff
Text: #222222 (charcoal)
Accents: #3A86FF (electric blue)
Hover: #FFB347 (soft orange)

Fonts
- "Quicksand"
- "OpenSans"
*/

.main-right {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.main-right .section-header {
  background-color: #f4f4f4;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
}

.main-right .section-header {
  display: flex;
  justify-content: space-evenly;
}

.section-header h1 {
  font-size: 2rem;
  font-family: "Quicksand";
}

.main-right #main-display {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-right #todo-display {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  /* background-color: #f4f4f4; */
}

.main-right h2 {
  font-size: 1.5rem;
}

.main-right .todo-div {
  background-color: indianred;
  height: 10%;
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  /* justify-content: space-evenly; */
  align-items: center;
}

#edit-todo-modal:open {
  background-color: darkorange;
  height: 50%;
  width: 50%;
}

.strikethrough {
  position: relative;
}

.strikethrough::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  background: red;
}
